<div id="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Mes congés</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        List des congés
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>cause</th>
                <th>dateDebut</th>
                <th>dateDmande</th>
                <th>dateFin</th>
                <th>nombreJour</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let conge of listConges">
                <td>{{ conge?.cause }}</td>
                <td>{{ conge?.dateDebut }}</td>
                <td>{{ conge?.dateDmande }}</td>
                <td>{{ conge?.dateFin }}</td>
                <td>{{ conge?.nombreJour }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
