<body *ngIf="isAuthentificated()">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>

    <button
      class="btn btn-link btn-sm text-white order-1 order-sm-0"
      id="sidebarToggle"
      href="#"
    >
      <i class="fas fa-bars"></i>
    </button>
  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/conges">
          <i class="fas fa-fw fa-table"></i>
          <span>Mes congés</span></a
        >
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</body>
<body *ngIf="!isAuthentificated()">
  <app-login></app-login>
</body>
