<nav
  class="sidebar"
  [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }"
>
  <div class="list-group">
    <a
      routerLink="/"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>Tableau de bord</span>
    </a>
    <a
      [routerLink]="['/leaves']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-fw fa-wrench"></i>&nbsp;
      <span>Mes congés</span>
    </a>
    <a
      *ngIf="isAdmin()"
      [routerLink]="['/contributors']"
      [routerLinkActive]="['router-link-active']"
      class="list-group-item"
    >
      <i class="fa fa-th-list"></i>&nbsp;
      <span>Collaborateurs</span>
    </a>

    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; {{currentUser.userName}} {{currentUser.name}} </span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" (click)="logout()">
                <span><i class="fa fa-fw fa-power-off"></i>Se déconnecter</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div
    class="toggle-button"
    [ngClass]="{ collapsed: collapsed }"
    (click)="toggleCollapsed()"
  >
    <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i
    >&nbsp;
    <span></span>
  </div>
</nav>
