<div id="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Articles</li>
    </ol>
    <div class="card mb-3">
      <div class="page-header">
        <div class="float-sm-right" style="margin-top:5px; margin-right: 5px;">
          <button routerLink="/posts/add" type="button" class="btn btn-primary">
            Ajouter un Article
          </button>
        </div>
        <div class="col-centered">
        </div>
        <br />
      </div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let post of listPosts">
          <div class="image card text-white  mb-3" [ngClass]="getColour()">
            <div class="card-body">
              <a [routerLink]="['/posts/edit', post.slug]">
                <h4 class="card-title">{{ post?.slug }}</h4>
              </a>
              <p class="card-text">
                {{ post?.body }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
